
:root {
    /* colors */
    --accent-100: #212121;
    --dark: #0d0c0c;
    --light: #ffffff;
    --light-100: #f4f5f0;
    --primary-200: #70aed7;
    --primary-300: #1c7cd1;
    --primary-400: #285482;
    --primary-500: #0b213c;
    --primary-100: #d1e5f1;

    /* font sizes */
    --font-size-12: 0.75rem;
    --font-size-15: 0.9375rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-25: 1.5625rem;
    --font-size-35: 2.1875rem;

    /* font weights */
    --font-weight-regular: 25rem;
    --font-weight-semibold: 37.5rem;
    --font-weight-bold: 43.75rem;
    --font-weight-extrabold: 50rem;

    /* spacing */
    --letter-spacing-0: 0rem;
    --line-height-60: 3.75rem;
    --list-spacing-0: 0rem;

    /* paragraph */
    --paragraph-indent-0: 0rem;
    --paragraph-spacing-0: 0rem;
    
    /* font families */
    --font-family-roboto-condensed: Roboto Condensed;
    --font-family-urbanist: Urbanist;
    --font-family-work-sans: Work Sans;

    /* border radius */
    --radius-sm: 0.5rem;
    --radius-md: 0.75rem;
    --radius-lg: 0.875rem;
    --radius-xl: 2rem;
    --radius-full: 62.5rem;

    /* box shadows */
    --shadow-sm: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.18);
}