.watch {
    padding: 0 1.25rem 2rem;
}

.watch__header {
    margin: 0 0 0.75rem;
}

.watch__title {
    margin: 0;
}

.watch__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 0.75rem;
}

.watch__link {
    display: grid;
    grid-template-columns: 2.75rem 1fr 4.375rem;
    align-items: center;
    min-height: 3.25rem;
    border-radius: var(--radius-md);
    overflow: hidden;

    background: var(--primary-100);
}

.watch__number {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: var(--radius-full);
    display: grid;
    place-items: center;
    justify-self: center;
    background: var(--primary-300);
    color: var(--light);
}

.watch__arrow {
    height: 100%;
    display: grid;
    place-items: center;
    background: var(--primary-400);
    color: var(--light);
}