.discover {
    padding: 1.25rem;
}

.discover__header {
    margin-bottom: 1rem;
}

.discover__title {
    margin: 0;
}

.discover__list {
    display: grid;
    gap: 4rem;
}

.discoverCard {
    border-radius: var(--radius-md);
    overflow: hidden;
    background: var(--light-100);
    box-shadow: var(--shadow-sm);
    border: none;
}

.discoverCard__media {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.discoverCard__img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: end;
}

.discoverCard__content {
    padding: 1rem 1.25rem 1.25rem;
    display: grid;
    gap: 0.75rem;
}

.discoverCard__title {
    margin: 0;
    color: var(--accent-100);
}

.discoverCard__text {
    margin: 0;
    color: var(--accent-100);
}

.discoverCard__link {
    justify-self: start;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 1.1rem;
    border-radius: var(--radius-sm);
    background: var(--primary-400);
    color: var(--light);
}