
.matilda {
    padding: 1.75rem 1.25rem 1.25rem;
}

.matilda__header {
    margin-right: 6rem;
    margin-bottom: 3.5rem;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    line-height: 1.25;
}

.matilda__content {
    display: grid;
    gap: 1rem;
}

.matilda__text {
    margin-right: 2rem;
    font-size: var(--font-size-16);
}

.matilda__keyword {
    color: var(--primary-300);
    font-weight: var(--font-weight-bold);
}