.matilda {
    padding: 1.75rem 1.25rem 1.25rem;
}

.matilda__header {
    margin-right: 6rem;
    margin-bottom: 3.5rem;
}

.matilda__content {
    display: grid;
    gap: 1rem;
}

.matilda__text {
    margin-right: 2rem;
}

.matilda__keyword {
    color: var(--primary-300);
}