.pioneersIntro__title {
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.pioneersIntro__text {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.pioneersFocus {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.pioneersFocus__media {
    border-radius: var(--radius-sm);
    overflow: hidden;
}

.pioneersFocus__img {
    display: block;
    width: 100%;
    height: auto;
}

.pioneersFocus__text {
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pioneersThemes {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

.pioneersThemes__title {
    margin-bottom: 2rem;
    text-align: center;
}

.pioneersThemes__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
}

.pioneersThemes__item {
    text-align: center;
    padding: 2rem 0.5rem;
    border-radius: var(--radius-md);
    color: var(--light);
}

.pioneersThemes__item--primary {
    background: var(--primary-300);
}

.pioneersThemes__item--secondary {
    background: var(--primary-400);
}

.pioneersThemes__item--tertiary {
    background: var(--primary-200);
}

.pioneersThemes__item--dark {
    background: var(--primary-500);
}

.pioneersExplore {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.pioneersExplore__list {
    list-style: none;
    padding: 0rem;
    margin: 0;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-lg);
}

.pioneersExplore__item+.pioneersExplore__item {
    margin-top: 1rem;
}

.pioneersExplore__link {
    display: grid;
    grid-template-columns: 2.75rem 1fr 4rem;
    align-items: center;
    min-height: 3.25rem;
    border-radius: var(--radius-md);
    overflow: hidden;
    background: var(--primary-100);
}

.pioneersExplore__number {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: var(--radius-full);
    display: grid;
    place-items: center;
    background: var(--primary-300);
    color: var(--light);
    justify-self: center;
}

.pioneersExplore__arrow {
    height: 100%;
    display: grid;
    place-items: center;
    background: var(--primary-400);
    color: var(--light);
}

.pioneersOutro {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.pioneersOutro__text {
    margin-top: 1rem;
}