
.scientist {
    padding: 1.25rem 1.25rem 0;
}

.scientist__header {
    margin-bottom: 0.75rem;
}

.scientist__title {
    margin: 0;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-extrabold);
    text-transform: uppercase;
}

.scientist__figure {
    margin: 0;
}

.scientist__img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.scientist__caption {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    font-size: var(--font-size-15);
}