.storySection {
    display: grid;
    gap: 1.5rem;
}

.storySection__title {
    margin-top: 6rem;
    margin-left: 1rem;
    color: var(--primary-400);
}

.storySection__title-subtitle {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 0;
}

.storySection__text {
    margin-left: 1rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
}

.storySection__date {
    color: var(--primary-300);
}

.storyMedia {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.storyMedia:first-of-type::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(28, 124, 209, 0.7), transparent);
    pointer-events: none;
    z-index: 1;
}

.storyMedia__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.storyMedia__img-parcours {
    width: 85%;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: var(--radius-sm);
}

.storyMedia__caption {
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    margin: 0;
    color: var(--light);
    z-index: 2;
}

.storyHighlight {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 3.5rem;
    background: var(--primary-300);
    color: var(--light);

}

.storyHighlight__title {
    margin-bottom: 2.5rem;
    color: var(--light);
}

.storyHighlight__text {
    margin-bottom: 2rem;
    color: var(--light);
}

.lifeTimeline__text {
    margin-left: 1rem;
    margin-right: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.lifeTimeline {
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.lifeTimeline__title {
    color: var(--primary-300);
}

.lifeTimeline__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 6.875rem 1fr;
    gap: 1rem 0.85rem;
}

.lifeTimeline__item {
    display: contents;
}

.lifeTimeline__range {
    display: grid;
    place-items: center;
    padding: 0.75rem 0.5rem;
    border-radius: var(--radius-sm);

    background: var(--primary-400);
    color: var(--light);
}

.lifeTimeline__label {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.9rem;
    border-radius: var(--radius-sm);
    background: var(--light-100);
}