.timelineCta {
    background: var(--primary-300);
    position: relative;
}

.timelineCta__media {
    position: relative;
}

.timelineCta__media::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(28, 124, 209, 0.7), transparent);
    pointer-events: none;
    z-index: 1;
}

.timelineCta__img {
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    object-position: top;
}

.timelineCta__text {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    margin-right: 8rem;
    color: var(--light);
}

.timelineCta__link {
    justify-self: start;
    display: inline-flex;
    align-items: center;
    margin-bottom: 4rem;

    padding: 0.8rem 1.8rem;
    border-radius: var(--radius-md);

    background: transparent;
    border: 0.125rem solid var(--light);
    color: var(--light);

}

.timelineCta__content {
    position: relative;
    padding: 1.6rem 1.25rem 2rem;
    display: grid;
    gap: 1rem;
}

.timelineCta__title {
    position: absolute;
    left: 1.25rem;
    top: -3.1rem;
    z-index: 2;

    margin: 0;

    color: var(--light);
}

.timeline__text {
    margin-top: 3.5rem;
    margin-left: 1.5rem;
    margin-right: 4.5rem;
    margin-bottom: 5rem;
}