.writingsHero__title {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.writingsPage__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.writingsIntro__content {
    padding: 0 1.5rem 0;
}

.writingsThesis__title {
    color: var(--primary-300);
    margin-bottom: 1rem;
    padding: 0 1.5rem 0.25rem;
}

.writingsThesis__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.writingsThesis__text {
    padding: 0 1.5rem;
}

.writingsBlue__panel {
    padding: 1.5rem;
    background-color: var(--primary-300);
}

.writingsBlue__title {
    color: var(--light);
    margin-bottom: 1rem;
}

.writingsBlue__text {
    color: var(--light);
}