.writingsHero__title {
    padding: 2.5rem 1.5rem 1.5rem;
}

.writingsPage__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.writingsIntro__content {
    padding: 0 1.5rem 0;
}

.writingsThesis__title {
    color: var(--primary-300);
    margin-bottom: 1rem;
    padding: 0 1.5rem 0.25rem;
}

.writingsThesis__content {
    display: flex;
    flex-direction: column;
}

.writingsThesis__text {
    font-size: var(--font-size-16);
    line-height: 1.6;
    padding: 0 1.5rem;
}

.writingsBlue__panel {
    padding: 1.5rem;
    background-color: var(--primary-300);
}

.writingsBlue__title {
    color: var(--light);
    margin-bottom: 1rem;
}

.writingsBlue__text {
    font-size: var(--font-size-15);
    line-height: 1.6;
    color: var(--light);
}