/* vendors */
@import "vendors/normalize.css";


/* utils */
@import "utils/variables.css";


/* base */
@import "base/main.css";
@import "base/media.css";


/* layout */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";
@import "layout/404.css";


/* components */
@import "components/button.css";
@import "components/card.css";
@import "components/timeline.css";
@import "components/button_scroll.css";
@import "components/discorver.css";
@import "components/bio.css";
@import "components/matilda.css";
@import "components/hero.css";
@import "components/scientist.css";
@import "components/picture.css";
@import "components/Card_btn.css";
@import "components/book.css";
@import "components/story.css";
@import "components/writing.css";
@import "components/contact.css";
@import "components/lexique.css";
@import "components/resources.css";
@import "components/pionnieres.css";
@import "components/lang-switcher.css";